<div id="section_about" class="">
    <div class="twcss-mx-auto md:twcss-container   md:twcss-flex   twcss-py-16 twcss-px-8 ">
      
      <div class="">
        
        <div class="twcss-mx-auto twcss-w-64 twcss-text-center">
          <img
            src="https://cdn.shopify.com/s/files/1/0680/7129/3231/files/about-ring.png?v=1674587978&width=200"
            width="200"
          />
        </div>
        
      </div>
      <div class="twcss-lg:px-8">
        <h2 class="md:twcss-pt-16 handwritten twcss-mx-auto twcss-text-4xl gold twcss-py-4 twcss-text-center">
          Handcrafted stories in gold
        </h2>
        <p class="light-green twcss-text-lg">
          We bring your stories to life as matchless pieces of jewellery
          handcrafted in gold. Newly founded in 2021, Aurum Stories takes
          you through the kaleidoscope wonderland of gemstones and it is here that
          the most exquisite creations happen.
        </p>
          <a href="/pages/about" class="button button--secondary">
            About Us
          </a>
      </div>
    </div>
  </div>

<style>
    #section_about {
        background-color: #023F42;
        background: #023F42 url("https://cdn.shopify.com/s/files/1/0680/7129/3231/files/aboutbg.jpg?v=1674587978") no-repeat center center;
        background-size: cover;
        position: relative;
      }
</style>
{% schema %}
{
  "name": "AS About",
  "settings": [

  ],
  "presets": [
    {
      "name": "AS About"
    }
  ]
}
{% endschema %}