<div id="section_custom" class="relative">
    <video id="bg-video" autoPlay loop muted playsInline poster="https://cdn.shopify.com/s/files/1/0680/7129/3231/files/bgvid_sm.jpg?v=1674587960">
      <source src="https://cdn.shopify.com/s/files/1/0680/7129/3231/files/bgvid_sm.jpg?v=1674587960" type="video/mp4" />
    </video>
    <div class="twcss-mx-auto md:twcss-container md:twcss-flex twcss-py-16 ptwcss-x-16">
     
      <div class="lg:twcss-px-16">
        <h2 class="md:twcss-pt-32 handwritten twcss-mx-auto twcss-text-4xl gold twcss-py-8 twcss-text-center">
          Bespoke Creations
        </h2>
        <p class="twcss-text-lg">Love or legacy? Heritage or objet d’art?</p>
        <p class="twcss-text-lg">
          Often a piece of jewellery holds meaning and significance to the
          wearer. A form of self-expression and identity. Aurum&nbsp;Stories
          makes it personal allowing each unique creation to tell its own
          story.
        </p>
        
          <a href="/pages/bespoke" class="as-button">
            Create Your Story
          </a>
        
      </div>

      <div class="">
        
        <div class="custom-pic twcss-mx-auto twcss-mt-16 md:twcss-mt-0 twcss-w-full md:twcss-w-96 twcss-text-center">
          <img
            src="https://cdn.shopify.com/s/files/1/0680/7129/3231/files/custom-ring.jpg?v=1674587932"
            alt="Custom Ring"
          />
        </div>
        
      </div>
    </div>
  </div>

<style>
    #bg-video {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.15;
      }
</style>
{% schema %}
{
  "name": "AS Bespoke",
  "settings": [

  ],
  "presets": [
    {
      "name": "AS Bespoke"
    }
  ]
}
{% endschema %}