<div id="section_classic">
    <div class="twcss-mx-auto md:twcss-container md:twcss-flex twcss-py-16 twcss-px-16">
      <div class="">
      
        <div class="twcss-mx-auto twcss-w-full md:twcss-w-96 twcss-text-center" style="width: 384px">
          <img
            src="https://cdn.shopify.com/s/files/1/0680/7129/3231/files/classic_ring.png?v=1674587960"
            alt="Classic Ring"
            width="250"
            loading="lazy"
          />
        </div>
        
      </div>

      <div class="lg:twcss-px-8">
      
        <h2 class="md:twcss-pt-32 handwritten twcss-mx-auto twcss-text-4xl gold twcss-py-8 twcss-text-center">
          Classic&nbsp;Collection
        </h2>
        <p class="twcss-text-lg light-green">
          Our classical collection is truly timeless and unique. These
          pieces of handmade jewellery are sourced, molded and set with
          remarkable craftsmanship and flawless presentation.
        </p>
          <a href="/pages/classic" class="as-button as-button-dark">
            View the Collection
          </a>
        
      </div>
    </div>
  </div>

<style>
    #section_classic {
        background-color: #023F42;
        background: url("https://cdn.shopify.com/s/files/1/0680/7129/3231/files/classic_bg.jpg?v=1674587960") no-repeat center center;
        background-size: cover;
      }
      
</style>
{% schema %}
{
  "name": "AS Classic",
  "settings": [

  ],
  "presets": [
    {
      "name": "AS Classic"
    }
  ]
}
{% endschema %}