<div id='section_services'>
  <div class='twcss-mx-auto md:twcss-container twcss-py-16 twcss-px-8'>
    <h2 class='handwritten twcss-mx-auto twcss-text-4xl gold twcss-py-24 twcss-text-center'>Our Services</h2>

    <div class='twcss-space-y-10 md:twcss-space-y-0 md:twcss-grid md:twcss-grid-cols-3 md:twcss-gap-8'>
      <div>
        <div class='twcss-text-center twcss-pt-12'>
          <img class="twcss-mx-auto"
            src='https://cdn.shopify.com/s/files/1/0680/7129/3231/files/service-design.png?v=1674587960'
            width='96'
            height='96'
          >
        </div>
        <p class='twcss-text-center twcss-mt-5 twcss-text-lg twcss-leading-6 twcss-font-medium twcss-text-gray-900'>Custom Design</p>
      </div>

      <div>
        <div class='twcss-text-center twcss-pt-12'>
          <img class="twcss-mx-auto"
            src='https://cdn.shopify.com/s/files/1/0680/7129/3231/files/service-gem.png?v=1674587932'
            width='96'
            height='96'
          >
        </div>
        <p class='twcss-text-center twcss-mt-5 text-lg twcss-leading-6 twcss-font-medium twcss-text-gray-900'>Gemologist</p>
      </div>

      <div>
        <div class='twcss-text-center twcss-pt-12'>
          <img class="twcss-mx-auto"
            src='https://cdn.shopify.com/s/files/1/0680/7129/3231/files/service-invest.png?v=1674587960'
            width='96'
            height='96'
          >
        </div>
        <p class='twcss-text-center twcss-mt-5 text-lg twcss-leading-6 twcss-font-medium twcss-text-gray-900'>Investment</p>
      </div>
    </div>
    <div
      style='{ paddingLeft: "15%", paddingRight: "15%" }'
      class='twcss-mb-8 twcss-space-y-10 md:twcss-space-y-0 md:twcss-grid md:twcss-grid-cols-2 md:twcss-gap-8'
    >
      <div>
        <div class='twcss-text-center twcss-pt-12'>
          <img class="twcss-mx-auto"
            src='https://cdn.shopify.com/s/files/1/0680/7129/3231/files/service-diamond.png?v=1674587960'
            height='106'
            width='102'
          >
        </div>
        <p class='twcss-text-center twcss-mt-5 text-lg twcss-leading-6 twcss-font-medium twcss-text-gray-900'>
          Diamond &amp; Coloured
          <br>
          Stone Sourcing
        </p>
      </div>

      <div>
        <div class='twcss-text-center twcss-pt-12'>
          <img class="twcss-mx-auto"
            src='https://cdn.shopify.com/s/files/1/0680/7129/3231/files/service-grade.png?v=1674587932'
            height='106'
            width='91'
          >
        </div>
        <p class='twcss-text-center twcss-mt-5 text-lg twcss-leading-6 twcss-font-medium twcss-text-gray-900'>
          International Grading
          <br>
          Certificates
        </p>
      </div>
    </div>
  </div>
</div>

<style>
    #section_services {
        background: url("https://cdn.shopify.com/s/files/1/0680/7129/3231/files/services_bg.jpg?v=1674587960") no-repeat center center;
        background-size: cover;
      }
</style>
{% schema %}
{
  "name": "AS Services",
  "settings": [

  ],
  "presets": [
    {
      "name": "AS Services"
    }
  ]
}
{% endschema %}
