<!-- Link Swiper's CSS -->
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css'>
<!-- Swiper JS -->
<script src='https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js'></script>

<section id='section_testimonial' class='twcss-overflow-hidden'>
  <div class='swiper mySwiper'>
    <div class='swiper-wrapper'>
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'testimonial' %}
            {% assign author = block.settings.author %}
            {% assign quote = block.settings.quote %}
            {% assign size = block.settings.size %}
            <div class='swiper-slide'>
              <div class='twcss-relative twcss-mx-auto md:twcss-container twcss-py-24 twcss-px-12'>
                <div class='twcss-relative lg:twcss-flex lg:twcss-items-center'>
                  <div class='twcss-relative lg:twcss-ml-10'>
                    <svg
                      class='twcss-absolute twcss-top-0 twcss-left-0 twcss-transform twcss--translate-x-12 twcss--translate-y-24 twcss-h-36 twcss-w-36 twcss-text-indigo-200 twcss-opacity-50'
                      stroke='currentColor'
                      fill='none'
                      viewBox='0 0 144 144'
                      aria-hidden='true'
                    >
                      <path
                        strokeWidth={2}
                        d="M41.485 15C17.753 31.753 1 59.208 1 89.455c0 24.664 14.891 39.09 32.109 39.09 16.287 0 28.386-13.03 28.386-28.387 0-15.356-10.703-26.524-24.663-26.524-2.792 0-6.515.465-7.446.93 2.327-15.821 17.218-34.435 32.11-43.742L41.485 15zm80.04 0c-23.268 16.753-40.02 44.208-40.02 74.455 0 24.664 14.891 39.09 32.109 39.09 15.822 0 28.386-13.03 28.386-28.387 0-15.356-11.168-26.524-25.129-26.524-2.792 0-6.049.465-6.98.93 2.327-15.821 16.753-34.435 31.644-43.742L121.525 15z"
                      />
                    </svg>
                    <div class='twcss-relative'>
                      <div class='twcss-{{ size }} twcss-leading-9 twcss-font-medium twcss-text-gray-800'>
                        <p>&#8223;{{ quote }}&#8221;</p>
                        <p class='twcss-pr-16 twcss-text-right handwritten2 twcss-text-3xl twcss-font-medium '>
                          ~ {{ author }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        {% endcase %}
      {% endfor %}
    </div>
    <div class='swiper-button-next'></div>
    <div class='swiper-button-prev'></div>
    <div class='swiper-pagination'></div>
  </div>
  <span class="twcss-text-lg twcss-text-xl twcss-text-2xl"></span>
</section>
<style>
  #section_testimonial {
    background-color: #d1a05d;
    background: url('https://cdn.shopify.com/s/files/1/0680/7129/3231/files/testimonial_bg.jpg?v=1674587891') no-repeat
      center center;
    background-size: cover;
  }

  .swiper {
    width: 100%;
    height: 500px;
  }

  .swiper-slide {
    text-align: center;
    /* font-size: 18px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper('.mySwiper', {
    cssMode: true,
    autoplay: {
      delay: 4500,
      disableOnInteraction: false,
    },
    loop: true,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    pagination: {
      el: '.swiper-pagination',
    },
    mousewheel: true,
    keyboard: true,
  });
</script>
{% schema %}
{
  "name": "AS Testimonials",
  "settings": [

  ],
  "presets": [
    {
      "name": "AS Testimonials"
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "text",
          "id": "author",
          "label": "Author",
          "default": "John Doe"
        },
        {
          "type": "textarea",
          "id": "quote",
          "label": "Quote",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        },
        {
          "type": "select",
          "id": "size",
          "label": "Font size",
          "options": [
            {
              "value": "text-2xl",
              "label": "Large"
            },
            {
              "value": "text-xl",
              "label": "Medium"
            },
            {
              "value": "text-lg",
              "label": "Small"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
